<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="vendor/autoload.php" beStrictAboutOutputDuringTests="true" beStrictAboutTodoAnnotatedTests="true" colors="true" verbose="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <clover outputFile="build/coverage.xml"/>
      <html outputDirectory="build/coverage" lowUpperBound="50" highLowerBound="95"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="default">
      <directory suffix="Test.php">tests</directory>
      <exclude>tests/phar</exclude>
    </testsuite>
  </testsuites>
  <extensions>
    <extension class="Zalas\PHPUnit\Globals\AnnotationExtension"/>
  </extensions>
  <logging/>
</phpunit>
